beautifulsoup4==4.12.3
bidict==0.23.1
blinker==1.8.2
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
filelock==3.15.4
Flask==3.0.3
Flask-Cors==4.0.1
Flask-SocketIO==5.3.6
gdown==5.2.0
gunicorn==23.0.0
h11==0.14.0
idna==3.8
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
MarkupSafe==2.1.5
numpy==2.1.0
packaging==24.1
pandas==2.2.2
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-engineio==4.9.1
python-socketio==5.11.3
pytz==2024.1
requests==2.32.3
scikit-learn==1.5.1
scipy==1.14.1
simple-websocket==1.0.0
six==1.16.0
soupsieve==2.6
threadpoolctl==3.5.0
tqdm==4.66.5
tzdata==2024.1
urllib3==2.2.2
Werkzeug==3.0.4
wsproto==1.2.0
